services:
  - type: web
    name: klubhouse-pos-api
    env: node
    rootDir: apps/api
    plan: starter
    buildCommand: npm install --include=dev && npm run prisma:generate && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: TZ
        value: America/Santiago
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: REFRESH_SECRET
        sync: false
      - key: CORS_ORIGINS
        value: "*"





