services:
  - type: web
    name: klubhouse-pos-api
    env: node
    rootDir: .
    plan: starter
    buildCommand: |
      npm install --include=dev
      npm run prisma:generate --workspace apps/api
      npm run prisma:migrate --workspace apps/api
      npm run build --workspace apps/api
    startCommand: npm run start --workspace apps/api
    envVars:
      - key: TZ
        value: America/Santiago
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: REFRESH_SECRET
        sync: false

  - type: web
    name: klubhouse-pos-web
    env: node
    rootDir: .
    plan: starter
    buildCommand: |
      npm install --include=dev
      npm run build --workspace apps/web
    startCommand: npm run start --workspace apps/web
    envVars:
      - key: NEXT_PUBLIC_API_URL
        value: https://klubhouse-pos-api.onrender.com
