services:
  - type: web
    name: klubhouse-pos-api
    env: node
    plan: starter
    rootDir: .
    buildCommand: npm ci --include=dev && npm run --workspace=klubhouse-pos-api prisma:generate && npm run --workspace=klubhouse-pos-api prisma:deploy && npm run --workspace=klubhouse-pos-api build
    startCommand: npm run --workspace=klubhouse-pos-api start
    envVars:
      - key: NODE_VERSION
        value: "20"
      - key: NODE_ENV
        value: production
      - key: TZ
        value: America/Santiago
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: REFRESH_SECRET
        sync: false
      - key: CORS_ORIGINS
        sync: false

  - type: web
    name: klubhouse-pos-web
    env: node
    plan: starter
    rootDir: .
    buildCommand: npm ci --include=dev && npm run --workspace=klubhouse-pos-web build
    startCommand: npm run --workspace=klubhouse-pos-web start
    envVars:
      - key: NODE_VERSION
        value: "20"
      - key: NODE_ENV
        value: production
      - key: NEXT_PUBLIC_API_URL
        sync: false
