services:
  - type: web
    name: klubhouse-pos-api
    env: node
    rootDir: apps/api
    buildCommand: npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: REFRESH_SECRET
        sync: false
      - key: CORS_ORIGINS
        value: https://klubhouse-pos-web.onrender.com
      - key: TZ
        value: America/Santiago

  - type: web
    name: klubhouse-pos-web
    env: node
    rootDir: apps/web
    buildCommand: npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: NEXT_PUBLIC_API_URL
        value: https://klubhouse-pos-api.onrender.com
      - key: NEXT_PUBLIC_WS_URL
        value: wss://klubhouse-pos-api.onrender.com
